* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  overflow: hidden;
}

header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #e49e58;
    text-align: center;
}

header > h1 {
    padding: 5px;
    font-size: 3em;
}

header > nav {
    margin: 0px 5px 0px 5px;
    padding: 1em;
}

header > nav > a {
    margin: 0px 15px;
    padding: 5px 15px;
    border-radius: 7px;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    background-color: #F5EBDD;
    text-decoration: none;
    color: #1d1d1d;
}

div.img-div {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('assets/main-background-coffee-shop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main > div.img-div > div.space > h2 {
    color: #ffeed9;
    text-shadow: 1px 1px 1px black;
    font-size: 4.8em;
}

main > div.img-div > div.space > button {
    background-color: #ffe0b9;
    margin: 18em 0em 0em 5em;
    border-radius: 9px;
    padding: 12px 21px;
    color: #482f10;
    font-size: 1.4em;
    font-weight: 800;
    border: 3px dashed #8d5007;
}

main > div.img-div > div.space {
    padding: 2em 0em 0em 0em;
    margin: 0em 8em;
}

div.img-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000003f;
    pointer-events: none;
}
